*.iml
.idea/
src/native/generated/
src/generated/
*.class
.DS_Store
*.jar
bin/
libs/
package.log
*.*~
.*.sw[a-p]
/.classpath
/.nbattrs
/.project
/dist
/doc/javadoc
/src/native/common/Debug
/src/native/common/Release
/src/native/windows/Debug
/src/native/windows/Release
/temp
/tmp
/src/native/*/org_lwjgl_*.h
/src/native/*/*/org_lwjgl_*.h
/src/native/linux/org_lwjgl_opengl_Display.c
nbproject/project.xml
/nbproject/private/
